<h3>Everybody</h3>
<table border="2">
<% @profiles.each do |profile| %>
  <tr>
    <td style="padding:5px;"><%= profile.firstname %> <%= profile.lastname %></td>
    <td style="padding:5px;"><%= profile.uuid.first(6) %></td>
    <td style="padding:5px;"><%= profile.state %></td>
    <td style="padding:5px;"><%= profile.state_endpoint %></td>
  </tr>
<% end %>
</table>
