<h3>Profile Details</h3>
<table>
  <tr>
    <td style="padding:5px;">
      <%= button_to "Refresh Data", { action: :show }, method: :get %><br>
    </td>
    <td style="padding:5px;">
      <%= button_to "Delete Profile", { action: :destroy, uuid: @profile.uuid }, { method: :delete, data: { confirm: 'Are you sure?' } } %></strong><br>
      <%= flash[:error] %>
    </td>
    <td>
      <%= button_to "Reset State (waiting_for_matches)", { action: :update_state, state: 'waiting_for_matches', uuid: @profile.uuid }, method: :post %>
      <strong>Current State: </strong> <%= @profile.state %><br>
    </td>
  </tr>
</table>
<p><strong>UUID</strong>: <%= @profile.uuid %></p>
<p><strong>Name</strong>: <%= @profile.firstname %> <%= @profile.lastname %></p>
<p><strong>JWT token</strong>: <%= JsonWebToken.encode(@profile.auth_token_payload) %></p>
<p>
  <ul>
  <% @profile.attributes.each do |k, v| %>
    <% next if k == 'properties' %>
    <li><strong><%= k %></strong>: <%= v %></li>
  <% end %>
  </ul>
</p>
<br>
<% @profile.photos.each do |photo| %>
  <%= image_tag "#{Constants::CLOUDINARY_HOST_URL}w_64,h_64,r_max,c_fill,g_face:center/#{photo.public_id}.jpg" %>
<% end %>

